<h1>Welcome to my {{title}} app {{name}}</h1>

<app-bosslist></app-bosslist>

<!--<div>
  <form #nameForm="ngForm" (ngSubmit)="addName(nameForm)">
    <label for="name">What is your name? </label>
    <input name="name" id="name" ngModel/>
    <button>Submit</button>
  </form>
</div>
<hr>
<p>There are {{ components.length}} components in this app</p>

<div *ngFor="let name of components">
  <div>{{name}}</div>
  <button (click)="changeTitle(name)">Click Me</button>
</div>

<div>
  <form #componentForm="ngForm" (ngSubmit)="addComponent(componentForm)">
    <label for="name">Enter a component name</label>
    <input name="name" id="name" ngModel/>
    <div>
      <button>Add to Components</button>
    </div>
  </form>
</div>
<br>
<hr>
<br>
<app-character name="Smethwick" type="bard"></app-character>
<app-character name="Doncaster" type="fighter"></app-character>
<app-character name="Stephen"></app-character> 
<app-character-class-list></app-character-class-list> -->


